:root {
  --primary-color-text: #757575;
  --secondary-color-text: #212121;
  --primary-background-page: #ffffff;
  --secondary-background-page: #f5f4fa;
  --tertiary-background-page: #2f303a;
  --accent-color: #2196f3;
  --tertiary-color-text: #ffffff;
}

/* ЗАГАЛЬНІ НАЛАШТУВАННЯ */
body {
  color: var(--primary-color-text);
}
/* прибираю підкреслення у всіх посилань */
a {
  text-decoration: none;
}
/* прибираю маркерування списків */
li {
  list-style-type: none;
}

/* ХЕДЕР */
.logo {
  color: #000000;
}
.logo > span {
  color: var(--accent-color);
}
/* колір тексту навігації */
.nav-link {
  color: var(--secondary-color-text);
}
/* колір тексту контактів */
.contact-link {
  color: var(--primary-color-text);
}
/* зміна кольорів при фокусі і ховері */
.contact-link:hover,
.contact-link:focus,
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

/*  ГЕРОЙ */
.hero {
  background-color: var(--tertiary-background-page);
}
h1 {
  color: var(--tertiary-color-text);
}
button {
  color: var(--tertiary-color-text);
  background-color: var(--accent-color);
}

/* СЕКЦІЇ */
.section-title {
  color: var(--secondary-color-text);
}
.section-staff {
  background-color: var(--secondary-background-page);
}

/* ФУТЕР */
footer {
  background-color: var(--tertiary-background-page);
}
a[href="http://surl.li/bjvcs"],
.logo-footer {
  color: var(--tertiary-color-text);
}
.span-footer {
  color: var(--accent-color);
}
.footer-contact {
  color: rgba(255, 255, 255, 0.6);
}
